<div class='bg-black h-screen flex flex-col py-16'>
  <%= image_tag 'gbfr_logo.png', class: 'mx-auto' %>
  <div class='text-center'>
    <h2 class='text-white'>Build Calculator</h2>
    <%= link_to "Character List", characters_path, class: 'text-white py-4' %>
  </div>
  <div class="flex flex-wrap w-4/5 mx-auto py-10">
    <%= image_tag "nav_gran.png" %>
    <%# image_tag "nav_djeeta.png" %>
    <%= image_tag "nav_katalina.png" %>
    <%= image_tag "nav_rackam.png" %>
    <%= image_tag "nav_io.png" %>
    <%= image_tag "nav_eugen.png" %>
    <%= image_tag "nav_rosetta.png" %>
    <%= image_tag "nav_lancelot.png" %>
    <%= image_tag "nav_vane.png" %>
    <%= image_tag "nav_percival.png" %>
    <%= image_tag "nav_siegfried.png" %>
    <%= image_tag "nav_charlotta.png" %>
    <%= image_tag "nav_yodarha.png" %>
    <%= image_tag "nav_narmaya.png" %>
    <%= image_tag "nav_zeta.png" %>
    <%= image_tag "nav_vaseraga.png" %>
    <%= image_tag "nav_ferry.png" %>
    <%= image_tag "nav_ghandagoza.png" %>
    <%= image_tag "nav_cagliostro.png" %>
  </div>
</div>
