<div id="<%= dom_id character %>">

  <%= link_to character do %>
    <%= image_tag "nav_#{character.name.downcase}.png" %>
  <% end %>

  <div class="flex justify-between">
    <p> <%= character.name %> </p>
    <p> <%= character.element %> </p>
  </div>

</div>
